
<div class="project-summary">
  <div class="header">
    <span class="label">Execution</span>
    <span class="title">{{ projectTitle }}</span>
  </div>
  <div class="details">
    <div>
      <label>Project Code</label>
      <span>{{ projectCode }}</span>
    </div>
    <div>
      <label>Overall Value</label>
      <span>{{ overallValue }}</span>
    </div>
    <div>
      <label>Collected Value</label>
      <span>{{ collectedValue }}</span>
    </div>
    <div>
      <label>AR Value</label>
      <span>{{ arValue }}</span>
    </div>
    <div>
      <label>Project Manager</label>
      <span>{{ projectManager }}</span>
    </div>
    <div>
      <label>Service Type</label>
      <span>{{ serviceType }}</span>
    </div>
    <div>
      <label>Item Status</label>
      <span>{{ itemStatus }}</span>
    </div>
  </div>
</div>
